form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* style for the input fields */
input[type="text"],
input[type="number"],
input[type="date"] {
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* style for the submit button */
button[type="submit"] {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #48c774;
}

/* style for the table */
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #48c774;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.home-btn {
  margin-top: 20px;
  text-align: center;
}

.home-btn a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.home-btn a:hover {
  background-color: #3e8e41;
}